* {
  font-family: "Bodoni MT";
}

p.entrydate{
  text-align: right;
  font-style: italic;
}

body {
    background: black;
}

#horizontalNav{
  padding: 10px 10px 10px 10px;
}

h1{
  text-align: center;
}

#wrapper{
  background: #F7F4F3;
  padding: 20px;
  width: 75%;
  margin: auto;
}

nav a{
  padding: 10px;
  text-decoration: none;
}

a{
  text-decoration: underline;
  color: black;
}

input{
  background-color: none;
  width:10%;
  font-size: 14px;
  height: 30px;
  margin: 10px 10px 10px 10px;
}

input[name="previous"]{
  float: left;
}

input[name="next"]{
  float: right;
}

footer{
  height: 10px;
  width: 100%;
  margin: 50px 10px 10px 10px;
  font-size: 12px;
}
